---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from '../components/Head.astro';
import '@fontsource/bricolage-grotesque/300.css';
import '@fontsource/bricolage-grotesque/400.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
       <head>
               <meta charset="UTF-8" />
               <meta name="viewport" content="width=device-width" />
               <Head title={title} />
       </head>
        <body>
                <a href="#main-content" class="skip-link">Zum Inhalt springen</a>
                <Navbar />
                <main id="main-content">
                        <slot />
                </main>
                <Footer />
        </body>
</html>

<style>
        html,
        body {
                margin: 0;
                width: 100%;
        }
</style>

<script>
        document.addEventListener("DOMContentLoaded", () => {
                const navLogo = document.querySelector(".navbar .logo")
                const heroLogo = document.querySelector(".hero-image");
                if (!navLogo || !heroLogo)
                        return;

                const observer = new IntersectionObserver((entries) => {
                        entries.forEach((entry) => {
                                if (entry.isIntersecting) {
                                        navLogo?.classList.add("show");
                                } else {
                                        navLogo?.classList.remove("show");
                                }
                        });
                }, {});
                observer.observe(heroLogo);
        });
</script>