---
import Layout from '../layouts/Layout.astro';
import Slideshow from "../components/Slideshow.astro";

import Strickgabel from "../images/produkte/Strickgabel.jpeg";
import Zauberwolle from "../images/produkte/Zauberwolle.HEIC";
import WolleAmadeus from "../images/produkte/Wolle_Amadeus.HEIC";
import Karten from "../images/produkte/Karten.HEIC";
import Polster from "../images/produkte/Polster.HEIC";
import Wollpellets from "../images/produkte/Wollpellets.HEIC";

const images = [Strickgabel, Zauberwolle, WolleAmadeus, Karten, Polster, Wollpellets];
---

<Layout title="Produkte">
  <section class="service-page section">
    <div class="container">
      <h2>Produkte</h2>
      <p>Entdecke Wolle, Accessoires und viele weitere Produkte rund ums Alpaka.</p>
      <p>Unser Angebot umfasst unter anderem handgesponnene Wolle, Pölster mit Alpakafüllung, Zauberwolle mit Strickgabeln und Wollpellets zum Düngen. Ein Blick in unseren Schaukasten lohnt sich allemal.</p>
      <p>Auf Vorbestellung bieten wir auch Decken an.</p>
    </div>
  </section>
  <section class="section">
    <Slideshow images={images} />
  </section>
</Layout>

<style>
  .service-page {
    background-color: var(--auwasser);
    color: var(--taubenblau);
  }
</style>
