---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import Stats from '../../components/dashboard/Stats.astro';
import Alpakas from '../../components/dashboard/Alpakas.astro';
---

<DashboardLayout title="Dashboard">
  <section class="dashboard-page section">
    <div class="container">
      <h2>Dashboard</h2>
      <Alpakas />
      <Stats />
    </div>
  </section>
</DashboardLayout>

<style>
  .dashboard-page {
    background-color: var(--auwasser);
    color: var(--taubenblau);
    text-align: center;
  }

  /* stats styles are defined in component */
</style>

