@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --warm-honey: #E7AA4F;
  --vanilla-cream: #FDF6EE;
  --olive-leaf: #A7B64F;
  --dusty-sky: #7399C0;
  --sunset-coral: #E58150;
  --seafoam-mist: #97C8C4;
  --forest-fern: #568468;
  --slate-river: #3D5464;
}

body {
  background-color: var(--vanilla-cream);
  color: var(--slate-river);
  font-family: sans-serif;
  margin: 0;
}
