path {
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    fill: none;

    animation: dash 1.2s ease-in-out 1s forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 130;
    }

    to {
        stroke-dashoffset: 0;
    }
}