---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Impressum">
  <section class="service-page section">
    <div class="container">
      <h2>Impressum</h2>
      <p>Alpakasoelde<br />
Jakob Wegenschimmel<br />
Frauenstein 12, 4962 Mining<br />
Österreich<br />
Tel: +43 699 81375946<br />
E-Mail: <a href="mailto:kontakt@alpakasoelde.at" class="link">kontakt@alpakasoelde.at</a><br />
Mitglied der Landwirtschaftskammer OÖ</p>
    </div>
  </section>
</Layout>

<style>
  .service-page {
    background-color: var(--seafoam-mist);
    color: var(--slate-river);
  }
</style>
