---
import Hero from '../components/Hero.astro'
import UeberUns from '../components/UeberUns.astro'
import Kontakt from '../components/Kontakt.astro'
---
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Alpakasölde</title>
  </head>
  <body class="font-sans text-gray-800">
    <Hero />
    <main class="px-4 py-8 space-y-16">
      <UeberUns />
      <Kontakt />
    </main>
  </body>
</html>
