<section id="kontakt" class="contact section">
  <h2>Kontakt</h2>
  <div class="contact-content container">
    <div>
      <p>Frauenstein 12<br/>4962 Mining</p>
    </div>
    <form name="contact" method="post" action="#" class="contact-card">
      <div class="form-field">
        <label for="name">Name*</label>
        <input id="name" type="text" name="name" autocomplete="name" required placeholder="Dein Name" />
      </div>
      <div class="form-field">
        <label for="email">E-Mail*</label>
        <input id="email" type="email" name="email" autocomplete="email" required placeholder="deine@mail.at" />
      </div>
      <div class="form-field">
        <label for="message">Nachricht*</label>
        <textarea id="message" name="message" required placeholder="Deine Nachricht"></textarea>
      </div>
      <button type="submit" class="btn">Senden</button>
    </form>
  </div>
</section>
