<section id="kontakt" class="contact section">
  <h2>Kontakt</h2>
  <div class="contact-content container">
    <div>
      <p>Frauenstein 12<br/>4962 Mining</p>
      <p>E-Mail: <a href="mailto:info@alpakasoelde.at" class="link">info@alpakasoelde.at</a></p>
    </div>
    <form name="contact" method="post" action="#">
      <label>
        <span>Name*</span>
        <input type="text" name="name" required />
      </label>
      <label>
        <span>E-Mail*</span>
        <input type="email" name="email" required />
      </label>
      <label>
        <span>Nachricht*</span>
        <textarea name="message" required></textarea>
      </label>
      <button type="submit" class="btn">Senden</button>
    </form>
  </div>
</section>
