---
import { Image } from "astro:assets";
import Logo from "../images/AS_Gesammt_untereinander_Schwarz.svg";
---

<section class="hero">
  <Image src={Logo} alt="Alpakasölde Logo" />
  <h1 class="sr-only">Alpakasölde</h1>
  <p>Erlebe unvergessliche Momente mit unseren Alpakas in Frauenstein.</p>
  <a href="#kontakt" class="btn">Jetzt Alpaka-Tour buchen</a>
</section>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dusty-sky);
    padding: 5rem 1rem;
  }

  .hero img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1.5rem;
  }

  @media (min-width: 768px) {
    .hero img {
      width: 35rem;
      height: 15rem;
    }
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .hero p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
</style>
