---
const images = [
  'https://source.unsplash.com/800x500/?alpaca&1',
  'https://source.unsplash.com/800x500/?alpaca&2',
  'https://source.unsplash.com/800x500/?alpaca&3'
];
---
<ul class="slideshow" id="slideshow">
  {images.map((src, i) => (
    <li class={`slide ${i === 0 ? 'visible' : 'hidden'}`} image-slide>
      <img src={src} alt="Alpaka" />
    </li>
  ))}
</ul>

<script>
  const slides = Array.from(document.querySelectorAll('[image-slide]'));
  let index = 0;
  setInterval(() => {
    slides[index].classList.add('hidden');
    index = (index + 1) % slides.length;
    slides[index].classList.remove('hidden');
  }, 4000);
</script>

<style>
  .slideshow {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 16rem;
  }

  @media (min-width: 768px) {
    .slideshow {
      height: 24rem;
    }
  }

  .slide {
    position: absolute;
    inset: 0;
    transition: opacity 1s;
  }

  .slide.hidden {
    opacity: 0;
  }

  .slide.visible {
    opacity: 1;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
