<div id="container">
	<main>
		<section id="contact" class="flex flex-col items-center">
			<h1 class="text-4xl mb-3">Alpakasölde</h1>

			<p>Frauenstein 12</p>
			<p>4962 Mining</p>

			<p>
				<a href="mailto:info@alpakasoelde.at">info@alpakasoelde.at</a>
			</p>
		</section>
	</main>
</div>
