---
import { Image } from "astro:assets";

interface Props {
  images: any[];
}

const { images } = Astro.props as Props;
---

<div class="carousel">
  {images.map((src, i) => (
    <div class="card">
      <Image
        src={src}
        alt="Alpaka auf der Alpakasölde Farm"
        class="image"
      />
    </div>
  ))}
</ul>

<style>
  .carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
  }

  .carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel::scroll-button(right), .carousel::scroll-button(left) {
    content: "→";
    border: none;
    background-color: var(--taubenblau);
    font-family: Consolas;
    font-size: 3rem;
    color: var(--schurwolle);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%;
  }

  .carousel::scroll-button(left) {
    content: "←";
    position-area: left center;
    translate: 50%;
  }

  .carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
  }

  .card {
    scroll-snap-align: start;
    flex: 0 0 20em;
    aspect-ratio: 5 / 4;
    text-align: center;
    align-content: center;
  }

  .card::scroll-marker {
    content: '';
    height: 1em;
    width: 1em;
    background-color: var(--taubenblau);
    border-radius: 50%;
  }

  .card::scroll-marker:target-current {
    background-color: var(--himmelblau);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: 500px) {
    .card {
      flex: 0 0 100%;
    }
  }
</style>
