name: Build and Deploy Website

on:
  push:
    branches:
      - main
    paths:
      - 'src/website/**'
      - 'src/website-api/**'
      - '.github/workflows/build-and-deploy-website.yml'
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
    paths:
      - 'src/website/**'
      - 'src/website-api/**'
      - '.github/workflows/build-and-deploy-website.yml'

permissions:
  contents: read
  pull-requests: write 
  
jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          lfs: false

      - name: NPM Install
        run: npm install
        working-directory: ./src/website

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Run API tests
        run: dotnet test --project src/website-api.Tests/website-api.Tests.csproj

      - name: Build Functions
        run: dotnet publish src/website-api/website-api.csproj -c Release -o website-api_output

      - name: Build Page
        run: npm run build
        working-directory: ./src/website

      - name: Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "./src/website/dist" # App source code path
          api_location: "./website-api_output" # Published API path
          output_location: "." # Built app content directory
          config_file_location: "/src/website/"
          skip_api_build: true
          skip_app_build: true
          ###### End of Repository/Build Configurations ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: "close"
